header{
    background-color: white;
    height: 78px;
}

/* #credentials-section{
    background-color: white;
    height: 500px;
} */

form{
    border: 4px;
    height: 200px;
    width: 250px;
    margin-top: 200px;
    margin-left: 600px;
}

form input{
    background-color: black;
    color: antiquewhite;
    width: 250px;
    height: 18px;
    margin: 5px;
    border: 2px solid;
    border-color:rgb(130, 126, 126);
}
form button {
    background-color: rgb(130, 126, 126);
    color: rgb(239, 230, 230);
    height: 33px;
    width: 259px;
    margin: 4px;
    margin-top: 8px;
    margin-bottom: 25px;
}

form input:hover{
    background-color: white;
}
form a{
    text-decoration: none;
    color: rgb(130, 126, 126);
    margin-left: 55px;
}
form hr{
    border-color: rgb(130, 126, 126);
    border-radius: 2px;
    width: 250px;
    margin-left: 8px;
    margin-top: 20px;
   
}
